- var title = `Hunter - собери все ценные предметы на карте и приди на финиш`
- var description = `Сможешь пройти последний уровень c первого раза?.. Простая, но при этом увлекательная 2d-игра в стиле Maincraft. Цель: собрать все ценные предметы и прийти на финиш. Играть можно везде (на смартфоне, планшете, ноутбуке, компьютере). Также вы можете...`

title #{title}

meta(name="description" content=description) 
meta(name="Keywords" content="2d maincraft маинкрафт мейнкрафт game хантер hunter hunter-2d mobile")

meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="http://hunter-2d.tk/img/present.png")
meta(property="og:type" content="game")
meta(property="og:determiner" content="the")
meta(property="og:site_name" content="Hunter")
meta(property="og:url" content="http://hunter-2d.tk")

meta(property="twitter:title" content=title)
meta(property="twitter:description" content=description)
meta(property="twitter:image" content="http://hunter-2d.tk/img/present.png")
meta(property="twitter:site" content="Hunter")

meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1") 
link(rel="shortcut icon", href="favicon.png", type="image/png")  


