- var title = `Hunter - собери все ценные предметы на карте и приди на финиш`
- var description = `Сможешь пройти последний уровень c первого раза?.. Простая, но при этом увлекательная 2d-игра в стиле Maincraft. Цель: собрать все ценные предметы и прийти на финиш. Играть можно везде (на смартфоне, планшете, ноутбуке, компьютере). Также вы можете...`

title #{title}

meta(charset="utf-8")

meta(name="description" content=description) 
meta(name="Keywords" content="hunter хантер 2d game игра maincraft 2d-maincraft 2d-маинкрафт 2в-маинкрафт маинкрафт мейнкрафт mobile искатель")

meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="http://hunter-2d.tk/img/present.png")
meta(property="og:type" content="game")
meta(property="og:determiner" content="the")
meta(property="og:site_name" content="Hunter")
meta(property="og:url" content="http://hunter-2d.tk")

meta(property="twitter:title" content=title)
meta(property="twitter:description" content=description)
meta(property="twitter:image" content="http://hunter-2d.tk/img/present.png")
meta(property="twitter:site" content="Hunter")

meta(name="yandex-verification" content="78ea8f0e70ad95af")
meta(name="google-site-verification" content="LjfqS1f2pJYbhyhRBDR3aVefdOwaqWV2fFnfYzpIcj0")

meta(name="viewport", content="width=device-width, initial-scale=1") 
link(rel="shortcut icon", href="favicon.png", type="image/png")  


